<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"> </script> 
<body ng-app="myApp">


    <div>
        <a href="#!internships">Courses@geeksforgeeks</a> 
        <br> 
        <a href="#!getPlans">Check Plans</a> 
        <div ng-view></div> 
    </div>


    <script>
        const app = angular.module("myApp", ["ngRoute"]); 
        app.config(function($routeProvider) { 
            $routeProvider 
            .when("/getPlans", { 
                // templateUrl : "templates/getPlans.html",
                template : `<div  ng-init="getPlans()"  >
                                <h1>Plans : </h1>   
                                <table  ng-show="result" class="table table-bordered"  >
                                    <tbody>
                                    <td>Plan Name</td>
                                    <td>Plan GST Amount</td>
                                    <td>Plan Amount</td>
                                    <td>Plan Added</td>
                                    <td>Plan Type</td>
                                    <tr ng-repeat="x in result">
                                        
                                        <td>{{x.plan_name}}</td>
                                        <td>{{x.plan_gst_amount}}</td>
                                        <td>{{x.plan_amount}}</td>
                                        <td>{{x.plan_added}}</td>
                                        <td>{{x.plan_type}}</td>            
                                    </tr>
                                    </tbody>

                                </table>
                                <p ng-show="errorResult">Something went wrong</p>
                            </div>`, 
                controller : "getPlans"
            }) 
            .when("/internships", { 
                templateUrl : "getPlans.html",
                template : `<h1>Hire With Us</h1> 
                            <p> 
                                <ul> 
                                <li>Software Developer</li> 
                                <li>Technical Content Writer</li> 
                                <li>Technical Content Engineer</li> 
                                </ul> 
                            </p>` 
            }); 
        }); 
    </script> 
    <!-- <script src="controller.js"></script> -->
    <script>
        app.controller('getPlans',function($scope,$http) {
        $scope.getPlans = function(){
            var auth = window.btoa("madhan:madhan")
            headers = {"Authorization": "Basic " + auth};
            // console.log("submit clicket",$scope.Plans.planName)
            $http({
                method : "GET",
                url : "http://127.0.0.1:8000/api/plans/",
                headers:headers
                }).then(function mySuccess(response) {
                $scope.result = response.data;
                console.log($scope.result)
                }, function myError(response) {
                $scope.errorResult = response.data
                $scope.result = null  
                console.log($scope.result)
            });
        }
        })
    </script>
</body>
</html>
